body {
  background-color: #b2e4d5;
}

img {
  transition: 0.7s;
}

img:hover {
  background-color: #4baea0;
}

h1:hover {
  color: darkred;
}

h1 {
  transition: 1s;
}

 h3 {
   transition: .5s;
}

h3:hover {
  color: saddlebrown;
}
